{% if editedCategory.parent is defined and editedCategory.parent == null %}
<option selected value="">No parent</option>
{% else %}
    <option  value="">No parent</option>
{% endif %}
{% for category in categories.treeCategoryHtml  %}
    {% if(editedCategory.parent.getId() is defined and editedCategory.parent.getId() == category.id) %}
        <option selected  value="{{ category.id }}">{{ category.name }}</option>
    {% else %}
        <option   value="{{ category.id }}">{{ category.name }}</option>
    {% endif %}
{% endfor %}
